_build/
/build*/
dist/
/cmake-build-*/
_ninja/
.idea/
*__pycache__*
*.user
pipeline.gdsl
*.yml~
*.j2~
*.h~
*.cxx~
/integration-tests/output-files/*.*
/domain-tests/output_files/*.*
domain-tests/DomainTestsOutput.xml
venv
*.log
*.DS_Store
.vscode/
.venv/
.vscode.local/
exampleconfig.ini
compile_commands.json
Version.h
CMakeUserPresets.json
